@use "./base.scss";
/*
    --light: #232136;
    --lighter: " #797593";
    --lightgray: #286983;
    --gray: #c4a7e7;
    --darkgray: #faf4ed;
    --dark: #f6c177;
    --secondary: #ffb3b3;
    --tertiary: #9ccfd8;
    --highlight: #8f9fa926;
*/

// put your custom CSS here!
#quartz-body {
  border: var(--darkgray) 4px groove;
  //border-right: var(--secondary) 2px solid;
  background-color: var(--lighter);
  margin-top: 8px;
  margin-bottom: 8px;
  gap: 8px;
  //padding: 8px;
}
div.left.sidebar,
div.center,
div.right.sidebar {
  margin: 8px !important;
  border: 4px var(--gray) groove;
  //border-right: ridge !important;
  //border-bottom: ridge !important;
  //outline: 1px solid var(--gray);
  //outline-offset: -2px;
  padding: 4px;
  background-color: var(--lighter);
}

div.center > *,
div.right.sidebar > * {
  margin: 8px !important;
  border: 4px var(--darkgray) groove;
  background-color: var(--lightest);
}
div.left.sidebar > * {
  margin: 4px;
  border: 4px var(--darkgray) groove;
  background-color: var(--lightest);
  flex-grow: 1;
}
div.center > *,
div.right.sidebar > * {
  padding: 16px;
  box-shadow: inset 0 0 20px var(--light);
}
div.left.sidebar {
  padding: 4px 8px 4px 8px !important;
  box-shadow: inset 0 0 20px var(--light);
  flex-wrap: wrap;
  justify-content: space-between;
  flex-grow: 1;
}
div.spacer.mobile-only {
  border: none !important;
  display: none;
}
#search-icon {
  border-radius: 0 !important;
}
div.left.sidebar > h1 {
  padding: 0 4px 0 16px;
  border-left-width: 8px;
  //margin-left: 8px;
  //border-bottom-width: 8px;
}
div.darkmode {
  border-right-width: 8px !important;
  border-bottom-width: 8px !important;
  padding: 2px !important;
  height: 20px;
  min-width: 20px;
  //margin-right: 8px !important;
  flex-grow: 0 !important;
}

#search-space > * {
  background: var(--lighter) !important;
}

div.center {
  article {
    h1,
    h2,
    h3,
    h4,
    h5 {
      padding-left: 16px;
      padding-right: 4px;
      border: 4px var(--darkgray) groove;
      border-left-width: 16px;
      background-color: var(--lighter);
      display: inline-block;
      a {
        display: none;
      }
    }
  }
}
